*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: black;
    background-color: #f4f4f4;
}


header{
    background: linear-gradient(135deg, #3ab62a 0%, #130d24 100%);
    color: white;
    padding: 2rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav{
    max-width: 3200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
}

nav a:hover{
    opacity: 0.7;
}

.hero{
    min-height: 100vh;
    background: linear-gradient(rgba(49, 37, 37, 0.5), rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1578911373434-0cb395d2cbfb");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-container h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    
}

.hero-container p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cta-button{
    background-color: rgb(12, 182, 35);
    color: rgb(27, 27, 27);
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover{
    background-color: rgb(110, 155, 52);
}


.licores-section{
    width: 100%;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-color: rgb(36, 63, 5);
    
}



.section-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.licores-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, auto);   
    gap: 2rem;
}


.licor-card{
    background: #345230;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0, 0.15);
    transition: transform 0.3s ease;
    text-align: center;
}

.licor-card:hover{
    transform: translateY(-10px);
}

.licor-card img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    padding: 15px;
}


.card-content{
    padding: 1.5rem;
}

.card-content p{
    color: rgb(12, 12, 12);
    margin-bottom: 1rem;
}

.price{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}

.order-btn{
    width: 100%;
    padding: 0.8rem;
    background-color: rgb(17, 231, 10);
    color: rgb(37, 36, 36);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.order-btn:hover{
    background-color: rgb(157, 218, 14);
}